---
import Layout from '../layouts/Layout.astro';
import Welcome from '../components/Welcome.astro';
import PurposeList from '../components/PurposeList.astro';
import Transactions from '../components/Transactions.astro';
---

<Layout>
	<Welcome />

  <main class = "p-4">
    <PurposeList />

    <section class = "grid grid-cols-2">
      <Transactions />
      <div>2</div>
    </section>
  </main>
</Layout>
