---
import Layout from '../layouts/Layout.astro';
import Welcome from '../components/Welcome.tsx';
import PurposeList from '../components/PurposeList.tsx';
import Transactions from '../components/Transactions.tsx';
import Comparative from '../components/Comparative.tsx';
import AccumulatedList from '../components/AccumulatedList.tsx';
---

<Layout>
  <Welcome />

  <main class="p-4">
    <PurposeList client:load/>

    <section class="grid grid-cols-2 gap-4">
      <Transactions client:load />

      <div>
        <Comparative client:load/>
        <AccumulatedList client:load />
      </div>
    </section>
  </main>
</Layout>
