---
import IconButton from './IconButton.astro'
---

<div class="w-full mt-4 p-4 bg-secondary rounded-lg flex items-center justify-between">
  <div>
    <h2 class="text-xl">
      Accumulated
    </h2>

    <h3 class = "text-2xl font-bold">
      $40,000
    </h3>
  </div>

  <IconButton iconName ="lucide--edit-3 text-xl"/>
</div>
