---
const { iconName } = Astro.props
---

<button>
  <span class=`iconify ${iconName} text-gray-400 hover:text-white hover:cursor-pointer transition-colors duration-500 ease-in-out`>
  </span>
</button>
