
<div class = "flex items-center justify-center w-full h-1/2" style = "margin-top: -3rem">
  <div class = "w-1/2">
    <canvas id="relation-chart"></canvas>
  </div>
</div>

<script>
import Chart from 'chart.js/auto'

document.addEventListener("DOMContentLoaded", () => {
  const ctx = document.querySelector("#relation-chart")

  new Chart(ctx, {
    type: 'doughnut',
    data: {
      datasets: [{
        data: [300, 50],
        backgroundColor: [
          '#831df5',
          '#4ec4f9'
        ],
        hoverOffset: 4
      }]
    },
    options: {
      rotation: -90,
      circumference: 180,
      borderRadius: 40
    }
  })
})

</script>
