---
import Purpose from './Purpose.astro'
import IconButton from './IconButton.astro'
---

<section>
  <div class = 'flex items-center justify-between'>
    <h2 class = "text-2xl my-4 border-l border-l-2 border-gray-300 pl-2">Purposes</h2>

    <IconButton iconName = "lucide--circle-plus text-2xl"/>
  </div>

  <div class = "ml-2 pb-4 flex items-center gap-4 overflow-x-auto">
    <Purpose title = "Tattoo" id = "123" />
    <Purpose title = "Tattoo 1" id = "1234" />
    <Purpose title = "Tattoo 2" id = "12345"  />
  </div>
</section>
